@font-face{
    font-family:"Alagard";
    src: url("fonts/Alagard (Hewett Tsoi)/alagard.ttf");
 }
 
@font-face{
     font-family:"Josefin";
     src: url("fonts/JosefinSans-Light.ttf")
}
 
html{
     width:100%;
     height:100%;
}
 
body{
     min-height: 120%;
     background-image: url("images/sand.png");
     background-size: cover;
     clear: left;
}
 
h1{
     color:#F1F7ED;
     background-color: #616771;
 
   padding-left:7px;
     font-family:Alagard;
     font-size:42px;
     margin-top: 18px;
}
 
p{
    margin-left: 5px;
    font-size: 20px;
    word-spacing: 4px;
    line-height: 28px;
}
 
input{ 
    float: left;
}
 
input[type=text]{
  width: 230px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
 
input[type=text]:focus {
   width: 400px;
} 
 
.caixa{
     width: 600px;
     font-family: Alagard;
     display: block;
     margin-top: 50px;
     margin-left: 20px;
     margin-right: 1200px;
     background-color: #F1F7ED;
     border: 3px black dotted;
 }
 
 .caixa h2{
     font-size: 30px;
     margin-left: 6px;
 }
 
 .caixa p{
     margin-left: 7px;
     font-family: Josefin;
     font-size:25px
 }
 
 .caixa2 {
     float:left;
     font-family: Alagard;
     display: block;
     margin-top: -854px;
     margin-left: 650px;
     background-color: #F1F7ED;
     border: 3px black dotted;
     width: 630px;
 }

 .caixa2 h2{
     font-size: 30px;
     margin-left: 6px;
 }
 
 .caixa2 img{
     margin-top: 10px;
     margin-left: 33px;
     margin-bottom: 20px;
 }

 .caixa3 {
     font-family: Alagard;
     float:left;
     display: block;
     margin-top: -854px;
     margin-left: 1307px;
     background-color: #F1F7ED;
     border: 3px black dotted;
     width: 550px;
 }

 .caixa3 h2{
     font-size: 30px;
     margin-left: 6px;
 }

 .caixa3 p{
     margin-left: 7px;
     font-family: Josefin;
     font-size:25px
 }

 .caixa3 h4{
     font-family: Josefin;  
     margin-left:4px;
     font-size:17px;
 }

.animate {
     -webkit-animation-duration: 1s;
     animation-duration: 1s;
     -webkit-animation-fill-mode: both;
     animation-fill-mode: both;
   }
 
 @keyframes fadeInUp {
     from {
       opacity: 0;
       -webkit-transform: translate3d(0, 100%, 0);
       transform: translate3d(0, 100%, 0);
     }
   
     to {
       opacity: 1;
       -webkit-transform: none;
       transform: none;
     }
 }
   
 @keyframes fadeInRight {
     from{
       opacity: 0;
       -webkit-transform: translate3d(100%,0,0);
       transform: translate3d(100%,0,0);
     }
   
     to{
       opacity: 1;
       -webkit-transform: none;
       transform: none;
     }
   
 }
 
 .one {
   -webkit-animation-delay: 0.3s;
   -moz-animation-delay: 0.3s;
   animation-delay: 0.3s;
 }
 
 .two{
   -webkit-animation-delay: 0.5s;
   -moz-animation-delay: 0.5s;
   animation-delay: 0.5s;
 }
 
 .three{
     -webkit-animation-delay: 0.7s;
     -moz-animation-delay: 0.7s;
     animation-delay: 0.7s;
   }

 .fadeInUp {
     -webkit-animation-name: fadeInUp;
     animation-name: fadeInUp;
 }
 
 .fadeInRight{
   -webkit-animation-name: fadeInRight;
   animation-name: fadeInRight;
 }