@font-face{
   font-family:"Alagard";
   src: url("fonts/Alagard (Hewett Tsoi)/alagard.ttf");
}

body{
  background-image: url("images/sand.png");
  background-size: cover;
  clear: left;
}

h1{
	color:#F1F7ED;
	background-color: #616771;

  padding-left:7px;
	font-family:Alagard;
	font-size:42px;
	margin-top: 18px;
  clear: right;
}

.caixa{
  display: block;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 1200px;
  background-color: #F1F7ED;
  border: 3px black dotted;
}

.caixa p{
  margin-top: 10px;
  font-size: 19px;
  margin-left: 5px;
}

.caixa h2{
  margin-top:2px;
  font-size:40px;
  margin-bottom: 8px;
  font-family: Alagard;
  margin-left: 5px;
}

.caixa h3{
  margin-top:2px;
  font-size:25px;
  margin-bottom: 8px;
  font-family: Alagard;
  margin-left: 5px;
}


.caixa a{
  margin-left: 588px;
  text-decoration: none;
  color:blue;
  font-size: 20px;
  margin-bottom: 2px;
}

.caixa a:hover{
  color: red;
}

.caixa2{
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 1200px;
  background-color: #F1F7ED;
  border: 3px black dotted;
  width: 330px;
}

.caixa2 a{
  margin-top: 10px;
  font-size: 19px;
  text-decoration: none;
  color: black;
}

.caixa2 a:hover{
  color: red;
}

.caixa2 h2{
  margin-top: 2px;
  font-size:40px;
  margin-bottom: 8px;
  font-family: Alagard;
  margin-left: 5px;
}

.caixa3{
  display: block;
  float: left;
  margin-left: 734px;
  margin-top: -447px;
  margin-right: 20px;
  background-color: #F1F7ED;
  border: 3px black dotted;
  width: 650px;
  }

.caixa3 p{
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 100px;
  font-size: 19px;
}

.caixa3 h2{
  margin-top:2px;
  font-size:40px;
  margin-bottom: 8px;
  font-family: Alagard;
  margin-left: 5px;
}

.caixa3 a:hover{
  color: red;
}

.centro1{
	display: block;
	margin-left: 38%;
	margin-right: 50%;
	width: 50%;
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.one {
-webkit-animation-delay: 0.5s;
-moz-animation-delay: 0.5s;
animation-delay: 0.5s;
}

.two {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.three {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.four {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from{
    opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }

  to{
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

}

.fadeInRight{
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.image1{
  margin-top: -447px;
  margin-right: 20px;
  float: right;
  border: 3px white dotted;
}

::placeholder{
 color: black;
}

