@font-face{
    font-family:"Josefin";
    src: url("fonts/Josefin (static)/JosefinSans-Light.ttf");
}

.footer{
    height:60px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: Josefin;
    font-size:18px;
    color: white;
    text-align: center;
    background: linear-gradient(135deg, rgb(59, 59, 59) 60%, #7F7F7F);
}