@font-face{
   font-family:"Alagard";
   src: url("fonts/Alagard (Hewett Tsoi)/alagard.ttf");
}

body{

	background-image: url("images/sand.png");
	background-size: cover;
	clear: left;
}

h1{
	color:#F1F7ED;
	background-color: #616771;

  padding-left:7px;
	font-family:Alagard;
	font-size:42px;
	margin-top: 18px;
}

p{
   margin-left: 5px;
   font-size: 20px;
   word-spacing: 4px;
   line-height: 28px;
}

.container{
	display: block;
	margin-left: 48%;
	margin-right: 50%;
	width: 50%;
}

input{ 
   float: left;
}

input[type=text]{
 width: 230px;
 -webkit-transition: width 0.4s ease-in-out;
 transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 400px;
} 

::placeholder{
 color: black;
}


